//   #editor { 
//         position: absolute;
//         top: 0;
//         right: 0;
//         bottom: 0;
//         left: 0;
//     }

// #unsplash_image{
//     background-image: url("https://source.unsplash.com/category/technology/1280x1024");
//     background-size: cover;
// }

// body.demo md-divider {
//   margin-top: 0;
//   margin-bottom: 0; }

// body.demo md-list {
//   padding-top: 0; }

// body.demo md-list-item > p,
// body.demo md-list-item > .md-list-item-inner > p,
// body.demo md-list-item .md-list-item-inner > p,
// body.demo md-list-item .md-list-item-inner > .md-list-item-inner > p {
//   -webkit-user-select: none;
//   /* Chrome all / Safari all */
//   -moz-user-select: none;
//   /* Firefox all */
//   -ms-user-select: none;
//   /* IE 10+ */
//   user-select: none;
//   /* Likely future */ }

//   body.demo {
//     .ec-actions{
//       display: block;
      
//     }
//   }


.status-cards md-card{
    // margin: 64px;
}
.ace_editor { 
    height: 200px;
     }


.ec-actions{
    margin: 16px;
}

.ec-capture-card md-card-content {
    padding-top: 32px;
}

#meta_mask_card{
 
}

#ipfs_image_card{

}