<app-navbar>
</app-navbar>

<md-content class="md-padding" layout-xs="column" layout="row">

  <div layout="column" flex=70 class="status-cards">

    <md-card id="ipfs_image_card" md-theme="" md-theme-watch="" >

      <img id="ipfs_image_tag" src="" alt="IPFS DEMO">

      <md-card-actions layout="row" layout-align="start center">
        <span ng-show="demoCtrl.$rootScope.App.IpfsService.isOnline"> IPFS is running! Here is a squirrel.</span>
        <span ng-hide="demoCtrl.$rootScope.App.IpfsService.isOnline"> IPFS is offline! No squirrel for you.</span>
      </md-card-actions>

    </md-card>

    <md-card id="meta_mask_card" md-theme="" md-theme-watch="">

      <div layout-fill  id="ethereum_editor" ui-ace="{
  useWrapMode : true,
  showGutter: false,
  theme:'twilight',
  mode: 'xml',
  firstLineNumber: 5,
  onLoad: demoCtrl.aceLoaded,
  onChange: demoCtrl.aceChanged
}"></div>

      <md-card-actions layout="row" layout-align="start center">
        <span ng-show="demoCtrl.$rootScope.App.EthereumService.isOnline"> Ethereum is running! Here are your accounts.</span>
        <span ng-hide="demoCtrl.$rootScope.App.EthereumService.isOnline"> Ethereum is offline! No accounts for you.</span>
      </md-card-actions>

    </md-card>

    <md-card id="chart_1" md-theme="" md-theme-watch="">
    </md-card>

    <md-card id="chart_2" md-theme="" md-theme-watch="">
    </md-card>

  </div>

  <div layout="column">

    <div ng-repeat="instance in demoCtrl.patient.activity_instances">
      <ec-content-view-v0 ng-if="instance.activity_spec.render_config.component === demoCtrl.ct.content_view_v0" patient="demoCtrl.patient"
        instance="instance"></ec-content-view-v0>
      <ec-text-input-v0 ng-if="instance.activity_spec.render_config.component === demoCtrl.ct.text_input_v0" patient="demoCtrl.patient"
        instance="instance"></ec-text-input-v0>
      <ec-boolean-input-v0 ng-if="instance.activity_spec.render_config.component === demoCtrl.ct.boolean_input_v0" patient="demoCtrl.patient"
        instance="instance"></ec-boolean-input-v0>

    </div>

  </div>
</md-content>

<!--<md-list ng-cloak>

  <md-subheader class="md-no-sticky">Patients</md-subheader>
  <md-list-item ng-repeat="patient in demoCtrl.patients" ng-click="demoCtrl.completeNextInstance(patient, $event)" class="noright">
    <img alt="{{ patient.name }}" ng-src="{{ patient.image }}" class="md-avatar" />
    <p>{{ patient.name }}</p>

    <span ng-repeat="inst in patient.activity_instances">
      <i aria-label="{{inst.activity_spec.schema_config.title}}" class="ec-actions material-icons md-primary" >{{inst.activity_spec.render_config.icon}}</i>
    </span>

  </md-list-item>
</md-list>-->