<md-card class="ec-capture-card" md-theme="{{ vm.instance.activity_spec.render_config.md_theme }}" md-theme-watch="" >

    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{vm.instance.activity_spec.schema_config.title}}</span>
        </md-card-title-text>
    </md-card-title>

    <md-card-content >

        <md-input-container layout-fill>
            <label>
                {{vm.instance.activity_spec.render_config.label}}
            </label>
            <input ng-model="vm.instance.capture.value" type="text" flex>

        </md-input-container>

    </md-card-content>

    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="vm.submit()" class="">
            Submit
        </md-button>
    </md-card-actions>

</md-card>