
 
.brand-link {
  text-decoration: none;
  color: #000;
  white-space: nowrap;
}

#ethereum_account_qr_code{
    height: 128px;
    width: 128px;
    // margin-left: auto;
    // margin-right: auto;
}

.fab-nav {


  md-fab-trigger.align-with-text {
    left: 7px; 
    }


  .wi {
    font-size: 2.8rem;
    display: block;
  }

  md-icon {
    width : 2.8rem;
    height: 2.8rem;  
  }
}
