<md-content layout-fill layout="column">
  <app-navbar>
  </app-navbar>

  <canvas id="ethereum_account_qr_code" style="padding-top: 32px;"></canvas>

  <h3 style="text-align: center;">{{feedCtrl.account.name}}</h3>

  <div layout-padding>

    <div ng-repeat="instance in feedCtrl.activity_instances">
      <ec-content-view-v0 ng-if="instance.activity_spec.render_config.component === feedCtrl.ct.content_view_v0" instance="instance"></ec-content-view-v0>
      <ec-text-input-v0 ng-if="instance.activity_spec.render_config.component === feedCtrl.ct.text_input_v0" instance="instance"></ec-text-input-v0>
      <ec-boolean-input-v0 ng-if="instance.activity_spec.render_config.component === feedCtrl.ct.boolean_input_v0" instance="instance"></ec-boolean-input-v0>
    </div>

  </div>

</md-content>