<app-navbar layout="column">
</app-navbar>

<md-content>

<div ng-include="'app/eth-lightwallet/cards/create-new-wallet.html'"></div>

<div ng-include="'app/eth-lightwallet/cards/send-ether.html'"></div>


  <!--
  <h2>Restore Wallet</h2>
  <div><input type="text" ng-model="ethLightWalletCtrl.seed" value="" size="80"></input><button ng-click="ethLightWalletCtrl.setSeed()">Restore wallet from Seed</button></div>
  <h2>Show Addresses</h2>
  <div>Show <input type="text" id="numAddr" ng-model="ethLightWalletCtrl.numAddr" size="5" value="3"></input> more address(es)
    <button ng-click="ethLightWalletCtrl.newAddresses('')">Show</button></div>
  <div id="addr"></div>
  <div><button class="md-button md-raised md-accent" ng-click='ethLightWalletCtrl.getBalances()'>Refresh</button></div>



-->

</md-content>