.hello_splash{
    background-image: url("https://source.unsplash.com/category/nature/1280x1024");
    background-size: cover;
}

.unsplash{
    background-image: url("https://source.unsplash.com/category/nature/1280x1024");
    background-size: cover;
}