
.welcome_content {
    top: 20%;
    z-index: 1000;
    position: absolute;

    border-radius: 8px;
    // background-color: rgba(0, 0, 0, 0.95);
    padding: 16px;
    width: 85%;

    font-size: 2.5rem;
    
    color: #fff;

    h1, p{
        text-align: center;
        padding-bottom: 16px;
    }
}